PC - Tools/Sciifii/SciifiiDTO/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sciifii">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="corp">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="corpItem">
                <xs:complexType>
                  <xs:attribute name="slot" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="source" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="revision" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="dipVersion" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="esVersion" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="identifyPatch" type="xs:boolean" use="required" />
                  <xs:attribute name="nandPatch" type="xs:boolean" use="required" />
                  <xs:attribute name="kkPatch" type="xs:boolean" use="required" />
                  <xs:attribute name="localOnly" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="title">
                <xs:complexType>
				  <xs:attribute name="slot" type="xs:string" />
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="revision" type="xs:string" use="required" />
                  <xs:attribute name="onlyUninstallation" type="xs:boolean" use="required" />
                  <xs:attribute name="region" type="xs:byte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="modes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="mode">
                <xs:complexType>
                  <xs:attribute name="text" type="xs:string" use="required" />
                  <xs:attribute name="options" type="xs:string" use="required" />
                  <xs:attribute name="flag" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="options">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="option">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="text" type="xs:string" use="required" />
                  <xs:attribute name="networkRequired" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="steps">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="IOSDowngrader">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                    <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="revision" type="xs:unsignedShort" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="IOSReloader">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="user" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="fs" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="TruchaRestorer">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                    <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="revision" type="xs:unsignedShort" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="TitleInstaller">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                    <xs:attribute name="id" type="xs:string" use="required" />
                    <xs:attribute name="revision" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="CiosInstaller">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="Preloader">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="SystemUpdater">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="CorpInstaller">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="GXLoader">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="WadBatchInstaller">
                  <xs:complexType>
                    <xs:attribute name="option" type="xs:string" use="required" />
                    <xs:attribute name="folder" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Disclaimer" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
      <xs:attribute name="MenuMessage" type="xs:string" use="required" />
      <xs:attribute name="AllowAdvancedMode" type="xs:boolean" use="required" />
      <xs:attribute name="workingDirectory" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>